@import 'reset.css';
@import 'variables.css';
@import 'global.css';

/* Components will be imported here as we build them */
@import 'components/navbar.css';
@import 'components/hero.css';
@import 'components/about.css';
@import 'components/services.css';
@import 'components/doctors.css';
@import 'components/appointment.css';
@import 'components/testimonials.css';
@import 'components/contact.css';
@import 'components/footer.css';